@charset "utf-8";
body{
	--color-base:#39231d;
	--color-accent: #fc5253;
	--color-sub:#f3f5f6;
	--color-border:#e8eaee;
	background: #fff;
	color: var(--color-base);
	font-size: 16px;
	line-height: 1.75;
	font-family: arial, sans-serif;
	letter-spacing: 0.04em;
	margin: 0;
}
*{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
	color: var(--color-base);
	font-weight: bold;
	margin: 0;
}
ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
dl, dt, dd{
	margin: 0;
	padding: 0;
}
a{
	color: var(--color-base);
	text-decoration: none;
}
img{
	max-width: 100%;
	vertical-align: bottom;
}
.colored{
	color: var(--color-accent);
}
.textlink{
	word-break: break-all;
	text-decoration: underline dotted var(--color-accent);
	-webkit-text-decoration: underline dotted var(--color-accent);
}
.flex-wrapper{
	display: flex;
}
.content-wrapper{
	height: 100vh;
	height: -webkit-fill-available;
	height: 100dvh;
	position: relative;
	overflow: hidden;
}
.section-inner{
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

/* navi&main */
.js-cont:not(.js-active){
	opacity: 0;
	visibility: hidden;
	height: 0;
	padding: 0;
	transition: opacity .5s;
}
.js-cont.js-active{
	opacity: 1;
	visibility: visible;
}
.navi{
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	z-index: 100;
}
.navi ul {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.navi ul li + li {
	margin-left: min(50px, 6.51vw);
}
.navi ul li a{
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: .08em;
	padding-bottom: 5px;
	border-bottom: 2px solid;
	transition: .3s;
}
.navi ul li a.js-active,
.navi ul li a:hover{
	color: #ccc;
}
.navi ul li a.js-active{
	pointer-events: none;
}


main section{
	height: 100vh;
	height: -webkit-fill-available;
	height: 100dvh;
	overflow-y: auto;
	display: flex;
	margin: auto;
}
main .section-inner{
	margin: auto;
	padding-top: 50px;
	padding-bottom: 80px;
}
.cover h1 {
	font-size: 40px;
	font-family: sans-serif;
	text-align: center;
	line-height: 1;
	margin: 1.5em 0;
}
.cover .intro{
	max-width: 540px;
	margin: 0 auto;
	font-size: min(16px, 3.73vw);
}
.cover .intro p{
	line-height: 1.75;
	letter-spacing: .05em;
	text-align: center;
	margin: 0;
}
.cover .intro dl{
	justify-content: center;
	margin-top: 2em;
	line-height: 1;
}
.cover .intro dd{
	border-left: 1px solid var(--color-base);
	margin-left: .5em;
	padding-left: .5em;
}
.works h2{
	color: var(--color-base);
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	margin-bottom: 1.25em;
}
.works .work-list{
	flex-wrap: wrap;
}
.works .work-list-item{
	background: var(--color-sub);
	border-radius: 8px;
	width: max(calc(100% / 3 - 25px * 2 / 3), calc(100% / 3 - 2.64% * 2 / 3));
	padding: min(25px, 2.64%) min(25px, 2.64%) min(40px, 4.22%);
	position: relative;
}
.works .work-list-item + .work-list-item{
	margin-left: min(25px, 2.64%);
}
.works .work-list-item label{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	cursor: pointer;
}
.works .work-list-img{
	border: 2px solid var(--color-border);
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}
.works .work-list-img::before{
	content: '';
	display: block;
	padding-top: 75%;
}
.works .work-list-img img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
}
.works .work-list-item .work-info{
	margin-top: 6%;
}
.works .work-title{
	font-size: clamp(12px, 16px, 2.08vw);
	margin: 0;
}
.works .work-info p{
	font-size: clamp(10px, 12px, 1.5625vw);
	font-weight: bold;
	margin: .5em 0 0;
}
.works .work-list-arrow{
	line-height: 1;
	padding: .5em;
	position: absolute;
	bottom: 3.21%;
	right: 3.21%;
}
.works .work-list-item .work-list-arrow::after{
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	border-top: 2px solid;
	border-right: 2px solid ;
	transform: rotate(45deg);
	position: relative;
	left: -2px;
}
.works .modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity ease-in-out .3s, height 0s;
	opacity: 0;
	height: 0;
	pointer-events: none;
	transition: opacity ease-in-out .3s, height 20s;
	transition: opacity ease-in-out .3s, height 0s;
}
.works .modal:has(.work-details-container input:checked){
	opacity: 1;
	width: 100vw;
	height: 100vh;
	height: -webkit-fill-available;
	height: 100dvh;
	overflow: hidden;
	pointer-events: initial;
	z-index: 100;
}
.works .modal .work-details-container label{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border: 1px solid var(--color-base);
	border-radius: 50%;
	position: fixed;
	right: 16px;
	bottom: 16px;
	cursor: pointer;
}
.works .modal .work-details-container label::before,
.works .modal .work-details-container label::after{
	content: '';
	display: block;
	width: 15px;
	height: 1px;
	background: var(--color-base);
	position: absolute;
	letter-spacing: 0;
}
.works .modal .work-details-container label::before{
	transform: rotate(-45deg);
}
.works .modal .work-details-container label::after{
	transform: rotate(45deg);
}
.works .modal .work-details-container{
	background: #fff;
	width: 100%;
	position: relative;
	opacity: 0;
	height: 0;
	pointer-events: none;
}
.works .modal .work-details-container:has(input:checked){
	opacity: 1;
	height: 100%;
	overflow-y: auto;
	pointer-events: initial;
}
.works .modal .work-details-container input{
	display: none;
}
.work-details-container .work-details-inner{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 50px;
}
.works .work-details-cont{
	flex: 0 1;
}
.work-details-container .work-details-cont .work-details-imgbox {
	border: 1px solid #ccc;
	text-align: center;
	max-height: inherit;
	overflow-y: auto;
	scrollbar-width: none;
}
.work-details-container .work-details-cont.work-img .swiper-slide::-webkit-scrollbar {
	display: none;
}
.work-details-container .work-details-cont .work-details-img-sp{
	max-width: 390px;
	margin: 0 auto;
}
.work-details-container .work-details-cont.work-img .swiper {
	position: relative;
}
.work-details-container .work-details-cont.work-img .swiper-wrapper{
	height: auto;
}
.work-details-container .work-details-cont.work-img > .work-details-imgbox {
	max-height: calc(100vh - 50px * 2);
}
.work-details-container .work-details-cont.work-img .swiper-slide {
	max-height: calc(100vh - 50px * 2 - 64px);
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
}
.work-details-container .work-details-cont.work-img .swiper-slide p{
	background: rgb(0 0 0 / 70%);
	color: #fff;
	font-size: 12px;
	text-align: center;
	min-width: 80px;
	margin: 0;
	padding: .3em 1.5em;
	position: absolute;
	left: 50%;
	bottom: 8px;
	transform: translateX(-50%);
}
.work-details-container .work-details-cont.work-img .swiper-buttons {
	position: absolute;
	bottom: 120px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	z-index: 5;
	opacity: 0;
	transition: .3s;
}
.scroll {
	display: inline-block;
	position: absolute;
	padding: 10px 10px 55px;
	bottom: 90px;
	right: 1px;
	z-index: 10;
	color: var(--color-base);
	font-size: 10px;
	font-family: "Josefin Sans", sans-serif;
	line-height: 1;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	writing-mode: vertical-lr;
	opacity: 0;
	transition: 0.2s;
}
.scroll::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 1px;
	height: 40px;
	background: var(--color-base);
	animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}
.work-details-container .work-details-cont.work-img:hover .swiper-buttons,
.work-details-container .work-details-cont.work-img:hover .scroll {
	opacity: 1;
}
@keyframes scroll {
	0% {
		transform: scale(1, 0);
		transform-origin: 0 0;
	}
	50% {
		transform: scale(1, 1);
		transform-origin: 0 0;
	}
	50.1% {
		transform: scale(1, 1);
		transform-origin: 0 100%;
	}
	100% {
		transform: scale(1, 0);
		transform-origin: 0 100%;
	}
}
 
.work-details-container .work-info-inner{
	background: var(--color-sub);
	width: 100%;
	margin: auto 0;
	padding: 30px;
}
.work-details-container .work-info .work-info-cont + .work-info-cont{
	border-top: 1px solid #ccc;
	margin-top: 30px;
	padding-top: 30px;
}
.work-details-container .work-title{
	font-size: 26px;
}
.work-details-container .work-info p{
	font-size: 12px;
	font-weight: normal;
	line-height: 1.75;
	white-space: normal;
	margin-top: 1em;
}
.work-details-container .work-info p:first-child{
	margin-top: 0;
}
@media (min-width: 768px) {
	.for-sp{
		display: none;
	}
	.section-inner {
		max-width: calc(1200px + 50px * 2);
		margin: 0 auto;
	}
	a,
	.works .work-list-item,
	.works .modal .work-details-container label{
		transition: .3s opacity;
	}
	a:hover,
	.works .work-list-item:hover,
	.works .modal .work-details-container label:hover{
		opacity: .7;
	}
	.works .work-list-item:nth-child(3n+1){
		margin-left: 0;
	}
	.works .work-list-item:nth-child(n+4){
		margin-top: min(25px, 2.64%);
	}
	.work-details-container .work-details-cont.work-img{
		width: 55%;
		flex-basis: 55%;
		align-self: flex-start;
	}
	.work-details-container .work-details-cont.work-info{
		flex-basis: 45%;
		margin-left: 30px;
	}
}
@media (max-width: 767px) {
	.for-pc{
		display: none;
	}
	.section-inner {
		padding-left: 5.34%;
		padding-right: 5.34%;
	}
	.works h2 {
		font-size: 6vw;
		margin-bottom: .75em;
	}
	.work-details-container .work-details-inner{
		flex-direction: column;
		padding: 5.34%;
	}
	.works .work-list-item{
		width: max(calc(100% / 2 - 25px / 2), calc(100% / 2 - 3.88% / 2));
		margin-left: min(25px, 3.88%);
	}
	.works .work-list-item:nth-child(2n+1){
		margin-left: 0;
	}
	.works .work-list-item:nth-child(n+3){
		margin-top: min(25px, 3.88%);
	}
	.works .modal .work-details-container label {
		width: 45px;
		height: 45px;
	}
	.work-details-container .work-details-cont.work-info{
		margin-top: 7.46%;
	}
	.work-details-container .work-info-inner {
		padding: 5.97%;
	}
	.work-details-container .work-details-cont.work-img .swiper-slide p{
		font-size: 10px;
		min-width: 70px;
		left: auto;
		right: 3px;
		bottom: 3px;
		transform: translate(0);
	}
	.work-details-container .work-info .work-info-cont + .work-info-cont {
		margin-top: 4.48%;
		padding-top: 4.48%;
	}
	.work-details-container .work-title {
		font-size: clamp(16px, 4.27vw, 26px);
	}
	.work-details-container .work-info p {
		font-size: clamp(11px, 2.93vw, 12px);
	}
}

/* swiper */
.works .swiper{
	--swiper-theme-color: var(--color-accent);
	--swiper-navigation-color: var(--color-base);
	position: relative;
}
.works .swiper .swiper-pagination{
	position: initial;
	text-align: right;
	margin: 20px 0;
}
.works .swiper .swiper-buttons{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.works .swiper .swiper-button{
	position: initial;
	border: 1px solid var(--color-base);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	--swiper-navigation-size: 14px;
	margin-top: 0;
}
.works .swiper .swiper-button + .swiper-button {
	margin-left: 15px;
}
@media (max-width: 767px){
	.works .swiper .swiper-pagination {
		margin: 0;
	}
	.works .swiper .swiper-button{
		width: 45px;
		height: 45px;
	}
	.work-details-container .work-details-cont.work-img .swiper-slide {
		max-height: 40vh;
	}
	.work-details-container .work-details-cont.work-img .swiper-buttons{
		bottom: 40px;
	}
}